@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Loved+by+the+King&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Amarante&family=Bebas+Neue&family=Glass+Antiqua&family=Lexend:wght@100..900&display=swap');
@font-face {
    font-family: 'Love';
    src: url('Fonte/Love.otf') format(opentype);
    font-weight: normal;
    font-style: normal;
}

:root{
    --cor0: #e11700;
    --cor1: #d81600;
    --cor2: #b11200;
    --cor3: #940f00;
    --cor4: #720b00;
    --cor5: #500800;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #290400;
}
header{
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor1), var(--cor2), var(--cor3));
    text-align: center;
    color: white;
    width: 100%;
    height: 250px;
}
header > h1{
    padding-top: 70px;
    padding-bottom: 12px;
    font-size: 40px;
    font-family: 'Love', sans-serif;
}
header > p {
    font-size: 18px;
    font-family: 'Loved by the King', sans-serif;
}
main{
    background-color: white;
    min-width: 250px;
    max-width: 800px;
    margin: auto;
    border-radius: 0px 0px 10px 10px;
}
main > h1{
    text-align: center;
    padding: 20px 0px;
    font-family: 'Love';
    color: #e11700;
}
main > h2 {
    text-align: center;
    padding-bottom: 10px;
    font-family: 'Love';
    font-family: 'Loved by the King', sans-serif;
    text-decoration: underline;
    color: var(--cor2);
    font-size: 30px;
}
main > h3{
    color: var(--cor4);
    margin: 10px;
}
main > p{
    text-indent: 20px;
    margin: 0px 10px;
    font-family: 'Lexend';
    font-size: 18px;
    line-height: 30px;
}
div#video{
    position: relative;
    padding-bottom: 60%;
    background-color: var(--cor1);
    margin-top: 10px;
}
iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
video{
    display: block;
    margin: auto;
    width: 300px;
    padding: 10px;
    background-color: #e11700;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
}
h1#final{
    margin: 20px;
    font-size: 28px;
    margin-bottom: 100px;
    margin-top: 80px;
}
img{
    display: block;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 5px;
    background-color: #e11700;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
}
a {
    text-decoration: none;
    color: black;
}
a#cor{
    color: var(--cor4);
}
a:hover{
    background-color: var(--cor0);
    color: white;
    border-radius: 5px;
}
footer > p{
    font-size: 14px;
}
footer{
    color: white;
    text-align: center;
    background-color: #290400;
    margin: 10px;
}

h1#temporario{
    margin: auto;
    font-family: 'Lexend', sans-serif;
}
a#temporario{
    color: var(--cor0);
    margin: auto;
    width: 180px;
    padding: 8px 0px;
    border-radius: 10px;
}
a#temporario:hover{
    color: white;
}
main > div#extra{
    background-color: white;
    border-radius: 10px;
    height: 480px;
}
div#extra>h1{
    display: block;
    color: white;
    background-color: var(--cor0);
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
    max-width: 500px;
    min-width: 300px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.69);
}
div#extra>h2{
    text-align: center;
    padding-bottom: 10px;
    font-family: 'Love';
    font-family: 'Loved by the King', sans-serif;
    text-decoration: underline;
    color: var(--cor2);
    font-size: 30px;
}
div#extra > p{
    margin: 0px 10px;
    font-family: 'Lexend';
    font-size: 18px;
    line-height: 30px;
    text-align: center;
}
div#extra > img {
    padding: 5px;
}
div#extra > a {
    padding: 0px;
}